:root {
    --background-color: rgb(25, 25, 25);
}


/*
    THEMES
*/
.theme_01__background-color {
    background-color: rgb(25, 25, 25);
}

.theme_02__background-color {
    background-color: rgb(36, 56, 31);
}

.theme_03__background-color {
    background-color: rgb(48, 13, 13);
}



/*
    GENERAL
*/
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;

    font-family: sans-serif;
    
    background-color: var(--background-color);
    color: white;
}

.hidden {
    display:none!important;
}





/*
    NAV / SETTINGS
*/

.settings {
    position: absolute;
    z-index: 100;
}

#settings-button {
    opacity: 0.5;
    background-image: url(./assets/apple.png);
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 64px;
    aspect-ratio: 1/1;
    margin: 16px 0 0 16px;
    padding: 8px;
}

#settings-button:hover {
    opacity: 1;
    border: 1px solid white;
}

#settings-container {
    display:inline-block;
}

#settings-container > div {
    display: inline-block;
    margin: 8px;
    background-color: var(--background-color);
}

select {
    padding: 4px;
}

button, select {
    background-color: transparent;
    color: white;
    border: 1px solid white;

    border-radius: 8px;
}

button:hover, select:hover {
    border: 1px solid yellow;
}

option {
    background-color: black;
    color:white;
}



/*
    MAIN
*/
main {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
}

.version {
    font-size: 0.8em;
}

#game {
    display: block;
    margin: 8px auto;
    max-width: 98%;
    max-height: 75vh;

    border: 1px solid white;
    border-radius: 8px;
}

@media (min-aspect-ratio: 4/1) {
    .title {
        display: none;
    }
}

main > p {
    width: fit-content;
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: center;
}

#score {
    color:yellow;
}



/*
    FOOTER
*/
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.mobile-controls__container {
    display: flex;
    justify-content: space-around;
}

.mobile-controls__btn {
    border: 1px solid rgb(255,255,255, 0.25);
    color: rgb(255,255,255, 0.25);
    width: 22%;
    aspect-ratio: 1/1;

    font-size: 2em;
}

.mobile-controls__btn:hover {
    border-color: rgb(255,255,255, 0.5);
    color: rgb(255,255,255, 0.5);
}

@media (min-aspect-ratio: 3/2) {
    .mobile-controls__btn {
        width: 15%;
    }
}

.bottom-text {
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
    font-size: 1em;
}

.bottom-text > p {
    margin: 8px 0;
}

.author {
    font-size: 0.8em;
}